# ML frameworks
mlflow==3.1.4
bentoml
feast==0.47.0  # Using local provider version
pandas==1.5.3
scikit-learn==1.7.1
numpy==1.26.4
pyarrow
boto3==1.39.14

# ML monitoring
# evidently  # Skip due to compatibility issues
# whylogs    # Skip for now

# Airflow providers
apache-airflow-providers-amazon
apache-airflow-providers-postgres

astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy